<div class="form-group">
  <%= form.label field, label %>
  <div data-controller="password-visibility" class="input-group gap-0 pr-1">
    <%= form.password_field(
      field,
      class: 'password_string form-input',
      required: required,
      data: { 'password-visibility-target': 'input' }
    ) %>

    <button type="button" class="btn hover:bg-gray-100 p-1 mr-1 rounded" data-action="password-visibility#toggle">
      <span data-password-visibility-target="icon"><%= icon 'eye', class: 'mr-0' %></span>
      <span data-password-visibility-target="icon" class="hidden"><%= icon 'eye-off', class: 'mr-0' %></span>
    </button>
  </div>
</div>
